fastapi==0.103.1
uvicorn[standard]==0.23.2
pydantic==2.3.0
pydantic-settings==2.0.3
pyswisseph==2.10.3.2
celery==5.3.4
redis==5.0.0
psycopg2-binary==2.9.7
tzdata==2023.3
python-dotenv==1.0.0
